NODE_ENV=production

# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=key_or_token
API_TOKEN_SALT=key_or_token
ADMIN_JWT_SECRET=key_or_token
JWT_SECRET=key_or_token
TRANSFER_TOKEN_SALT=key_or_token
ENCRYPTION_KEY=key_or_token

# Domain
DOMAIN=127.0.0.1

# @strapi-community/dockerize variables 

DATABASE_HOST=0.0.0.0
DATABASE_PORT=3306
DATABASE_NAME=strapi
DATABASE_USERNAME=strapi
DATABASE_PASSWORD=password_on_production_just_placeholder
DATABASE_CLIENT=mysql
# @strapi-community/dockerize end variables 
